/*  */
.logo {
    font-size: 2.5em;
    font-family: 'Belanosima', sans-serif;
    margin: 0;
    color: #FAC63B;
}


.navlist:hover {
    color:  rgb(250, 198, 59);
}

  @media screen and (max-width: 850px) {
    .hideContent {
      display: none;
    }
  }

